<body style="background-color:red">
<h1>ARSENAL</h1>
<p>this is where you ll get all the info!!this is where you ll get all the info!!this is where you ll get all the info!!
this is where you ll get all the info!!this is where you ll get all the info!!this is where you ll get all the info!!
this is where you ll get all the info!!this is where you ll get all the info!!this is where you ll get all the info!!
this is where you ll get all the info!!this is where you ll get all the info!!this is where you ll get all the info!!
this is where you ll get all the info!!this is where you ll get all the info!!this is where you ll get all the info!!</p>
<img src="index.jpg" />
 <%= image_tag 'index.jpg' %>
</body>
<%= link_to 'home', root_path %>