<!doctype html>
<html>
<head> 
<title>
my webpage
</title>
<style type = "text/css">
.apple {
text-align:center;
font-family: courier;
}
#boy{
position:absolute;
top:90px;
left:1100px;
}
table,th,td {
border: 1px solid black;
border-collapse:collapse;
}
</style>
</head>
<body style = "background-color:aqua">
<h1 class="apple">ARSENAL</h1>
<hr />
<p style="text-indent:50px"><img src="index.jpg" style="float:left" />  Welcome to the world of arsenal!!Welcome to the world of arsenal!!Welcome to the world of arsenal!!</p>
<%= image_tag 'index.jpg' %>
<div id="boy"><img src="index1.jpg" /></div>
<%= image_tag 'index1.jpg' %>
<p style="text-indent:50px">Here you ll get to know all the news of arsenal.</p>
<br /><br /><br /><br />
<h2 style="text-align:center"> Hello</h2>
<a href="http://www.arsenal.com" title="best club" target="_blank">The official website of arsenal</a>
<p style="text-align:center">Current arsenal players</p>
<table width="100%">
<tr>
<th>JERSEY NO</th><th>NAME</th>
</tr>
<tr>
<td>11</td><td>Mesut Ozil</td>
</tr>
<tr>
<td>17</td><td>Alexis Sanchez</td>
</tr>
<tr>
<td>12</td><td>Olivier Giroud</td>
</tr>
<tr>
<td>33</td><td>Petr Cech</td>
</tr>
<tr>
<td>14</td><td>Theo Walcott</td>
</tr>
<tr>
<td>10</td><td>Jack Wilshere</td>
</tr>
<tr>
<td>16</td><td>Aaron Ramsey</td>
</tr>
<tr>
<td>34</td><td>Francis Coquelin</td>
</tr>
<tr>
<td>35</td><td>Mohammed Elneny</td>
</tr>
<tr>
<td>19</td><td>Santi Cazorla</td>
</tr>
<tr>
<td>20</td><td>Mathieu Flamini</td>
</tr>
<tr>
<td>07</td><td>Tomas Rosicky</td>
</tr>
<tr>
<td>08</td><td>Mikel Arteta</td>
</tr>
<tr>
<td>15</td><td>Alex Oxlade Chamberlain</td>
</tr>
<tr>
<td>04</td><td>Per Mertesacker</td>
</tr>
<tr>
<td>05</td><td>Gabriel Paulista</td>
</tr>
<tr>
<td>06</td><td>Laurent Koscielny</td>
</tr>
<tr>
<td>02</td><td>Mathieu Debuchy</td>
</tr>
<tr>
<td>03</td><td>Kieran Gibbs</td>
</tr>
<tr>
<td>21</td><td>Calum Chambers</td>
</tr>
<tr>
<td>18</td><td>Nacho Monreal</td>
</tr>
<tr>
<td>24</td><td>Hector Bellerin</td>
</tr>
<tr>
<td>23</td><td>Danny Welbeck</td>
</tr>
<tr>
<td>28</td><td>Joel Campbell</td>
</tr>
</table>
<p><h2 style="text-align:center;color:red">MANAGER: ARSENE WENGER</h2></p>
<p><h2 style="font-family:aparajita;text-align:center"><mark>Most number of goals for arsenal</mark></h2></p>
<ul>
<li><strong>Thiery Henry: 228(377)</strong></li>
<li><strong>Ian Wright: 185(288)</strong></li>
<li><strong>Cliff Bastin: 178(396)</strong></li>
<li><strong>John Radford: 149(481)</strong></li>
<li><strong>Jimmy Brain: 139(232)</strong></li>
<ul>
  <%= link_to 'About', about_path %> | <%= link_to 'Alpha Blog', articles_path %>
  
</body>
</html>